* 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: absolute;
    top: 80px; 
    left: 20px;
    width: 160px;
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

nav img 
{
    margin: 15px;
    height: auto;
    width: 90px;
}

.corp
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    width: 87vw;
    height: 100vh;
}

.corp img
{
    width: 300px;
    margin-bottom: 10px;
}

.Linkedin, .Mail, .Earth, .Maps, .Facebook, .X, .Instagram, .Telephone
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.corp div 
{
    text-align: center;
}

footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 25px;
    text-align: center;
    color: white;
}
