* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 160px;
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{



    
    background-color: rgb(241, 81, 27);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

nav img 
{
    margin: 15px;
    height: auto;
    width: 90px;
}

.corp
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 70vw;
    height: 100vh;
}

.image 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 90px;
}

.texte 
{
    float: right;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid rgba(8, 13, 85, 0.8); 
    padding: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    flex: 1; 
    max-width: 300px; 
}

footer 
{
    grid-area: footer;
    background-color: rgb(8, 13, 85);
    padding: 20px;
    text-align: center;
    color: white;
}
