* {
    font-family:  Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: absolute;
    top: 80px; 
    left: 20px;
    width: 160px;
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

nav img {
    margin: 15px;
    height: auto;
    width: 90px;
}

header {
    background-image: url('Image/bouygues_fond.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-text {
    color: white;
    padding: 0px;
    position: relative;
    z-index: 2;
    max-width: 80%;
    text-align: left;
    line-height: 0.6;
    font-size: 3.5rem;
    bottom: 10%;
    left: 3%;
}

.header-text h1 {
    font-size: 7.5rem;
}

.case-titre {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    gap: 105px;
    margin-bottom: 20px;
}
.case-pres{
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-around; 
}

.case-pres2{
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-around; 
}

.case {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(8, 13, 85, 0.8);
    border-radius: 10px ;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 300px;
}
.case-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.case-text{
    padding: 15px;
}

.case h2 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(8, 13, 85);
}

.case p {
    margin-top: 10px;
    line-height: 1.5;
    color: #333;
}

footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 25px;
    text-align: center;
    color: white;
}
