* 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: absolute;
    top: 80px; 
    left: 20px;
    width: 160px;
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

nav img 
{
    margin: 15px;
    height: auto;
    width: 90px;
}

.corp
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: 20px auto;
    border: 1px solid white;
    width: 70vw;
    height: 100vh;
    /*gap: 20px;*/
}

.image 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
}

.texte 
{
    background-color: rgba(189, 189, 189, 0.9); 
    border: 1px solid rgba(8, 13, 85, 0.8); 
    padding: 15px; 
    max-width: 400px; 
    max-height: 700px; 
    text-align: center; 
    border-radius: 10px;
}

.createur
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 20vw;
    height: 100vh;
    align-items: center; 
    gap: 70px;
}

.createur img 
{
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    /*border-radius: 10px;*/ 
}   

.debut
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 20vw;
    height: 100vh;
    align-items: center;
    margin-top: 70px;
    gap: 50px;
}

.debut img 
{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    /*border-radius: 10px;*/
}   

.evolution
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 20vw;
    height: 100vh;
    align-items: center; 
    gap: 20px;
}

.evolution img 
{
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    /*border-radius: 10px;*/
}   


footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 25px;
    text-align: center;
    color: white;
}
