* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills the viewport */
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: fixed;
    top: 80px; 
    left: 20px;
    width: 160px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
nav a:hover {
    background-color: rgb(241, 81, 27);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
nav img {
    margin: 15px;
    height: auto;
    width: 90px;
}

.container {
    flex-grow: 1; /* Make the container take up all the available space */
    margin-top: 20px; /* Space between header and content */
}
.contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 80vw;
    margin: 20px auto; /* Center the content and add space around */
}

.boite-contenu {
    width: 90%;
    min-height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(172, 171, 171);
    background-color: rgb(250, 250, 250);
    margin: 20px auto; /* Space between content boxes */
    gap: 10px;
    padding: 10px;
}
.image-contenu{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 45%;
    height: 95%;
}
.image-contenu>img{
    width: 100%;
    height: 100%;
}
.texte1{
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 95%;
    font-size: 120%;
}
.texte2{
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    width: 55%;
    height: 95%;
    font-size: 130%;
}
.texte3{
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    width: 100%;
    height: 95%;
    font-size: 105%;
}
.partie-principale{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
}
.boite-contenu h2{
    font-size: 30px;
}
.partie-gauche{
    width: 40%;
}
.partie-droite{
    width: 40%;
}







footer {
    width: 100%;
    background-color: rgb(8, 13, 85);
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 20px; /* Space between content and footer */
}
footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}
header {
    width: 100%;
    background-color: rgb(8, 13, 85);
    height: 70px;
}
header > h1 {
    font-size: 2.5em;
    text-align: center;
    color: white;
}
