* {
    font-family:  Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: fixed ;
    top: 80px; 
    left: 20px;
    width: 160px;

}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

nav img {
    margin: 15px;
    height: auto;
    width: 90px;
}
nav img {
    margin: 15px;
    height: auto;
    width: 90px;
}
footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 25px;
    text-align: center;
    color: white;
}
.container{
    display: flex;
}
.contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
    height: 100vh;
}

.tout{
display: flex;
flex-direction: row;
margin-top: 150px;
flex-wrap: wrap;
height: 25vh;
width: 80vw;
}
.texte{
display: flex;
flex-direction: column;

gap: 30px;

height: 45vh;
width: 60%;
}
.image{
display: flex;
flex-direction: column;
text-align: center;
color: rgba(195, 186, 186, 0.758);
height: 45vh;
width: 40%;
}
img{
margin-top: auto;
margin-bottom: auto;
height: 400px;
width: 600px;
}

.download-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}

.download-link:hover {
    color: rgb(241, 81, 27);
}

.pdf-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.texte1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 45vh;
    width: 100%;
    }
header {
    background-image: url('Image/Bouygues_fond.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.texte>p{
    font-size: 130%;
}
.texte1>p{
    font-size: 130%;
}