
*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav 
{
    position: sticky;
    margin-top: 20px;
    margin-bottom: auto;
    top: 20px;
    left: 20px;
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 160px;
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

nav img 
{
    margin: 15px;
    height: auto;
    width: 90px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;  
    text-align: center;
    color: white;
}

.container
{
    display: flex;
}

.contenu
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
    width: 80vw;
    height: 100vh;
}

.boite-contenu
{
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.texte
{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 70%;
    height: 95%;
    border: 1px solid green;
}

.image-contenu
{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 30%;
    height: 95%;
    border: 1px solid green;
}

