
* {
    font-family:  Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 255);
}

nav 
{
    background-color: rgb(8, 13, 85);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: fixed ;
    top: 80px; 
    left: 20px;
    width: 160px;

}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

nav img {
    margin: 15px;
    height: auto;
    width: 90px;
}

header {
    background-image: url('Image/Bouygues_fond.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-text {
    color: white;
    padding: 35px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    max-width: 80%;
    text-align: left;
    line-height: 0.65;
    font-size: 3.5rem;
    bottom: 10%;
    left: 3%;
    background-color: rgba(51, 51, 51, 0.6) ;

}

.header-text h1 {
    font-size: 7.5rem;
}
main {
    background-color: white;
}



.pres {
    text-align: center;
    max-width: 850px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
    padding-bottom: 30px;
}

.pres h2{
    color: rgba(8, 13, 85, 0.8);
    padding-top : 30px;
    padding-bottom: 15px;
}

.case-pres{
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    text-decoration: none; 
}

.case-pres2{
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly; 
    text-decoration: none;
}

.case {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(8, 13, 85, 0.8);
    border-radius: 10px ;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 300px;
    text-decoration: none;
}
.case-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

.case-text{
    padding: 15px;
    text-decoration: none;
}

.case h2 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(8, 13, 85);
    text-decoration: none;
}

.case p {
    margin-top: 10px;
    line-height: 1.5;
    color: #333;
    text-decoration: none;
}

footer a 
{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

footer a:hover 
{
    background-color: rgb(241, 81, 27);
    padding-left: 25px;
    padding-right: 25px;
}

footer 
{
    background-color: rgb(8, 13, 85);
    padding: 25px;
    text-align: center;
    color: white;
}

.case:hover {
    transform: scale(1.05);
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
}

.case-princ {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(8, 13, 85, 0.8);
    border-radius: 10px ;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 300px;
}

.case-lien {
    text-decoration: none;
}

.plan2 {
    height: 300px;
    width: 300px;
    margin-left: auto;
    display: block;
    
}
