
*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(8, 13, 85);
    height: 50px;
    padding: 10px;
    position: fixed;
    width: 100%;
    display: inline-block;

}

header img {
height: 50px;
width: 120px;
}

header * {
    color: white;
}

header>h1{
    float: left;
    margin: 0;
    
}
header nav{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
header a {
    margin-left: 75px;
    text-decoration:none;

}
html, body{
    margin: 0px;
   
}

.image-top img {
    width: 100%; 
    height: auto; 
    display: block; 
       margin-top: 0px; 
    }

nav :hover{
    color: orange;

}
/* Pour le menu déroulant */
.dropdown { 
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(8, 13, 85);
    z-index: 1;
    min-width: 20px;
}

.dropdown-content a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
margin-right: 15px;
min-width: 20px;

}

.dropdown-content a:hover {
    color: orange;
}



.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: rgb(8, 13, 85);
    padding: 10px;
}
footer p{
    color: white;
text-align: center;
}


.zone {
    position: absolute;
    color: white;
}


.text1 {
    top: 15%;
    left: 12%;
    line-height: 1.2;
}



.small-heading {
        margin: 0;
        line-height: 1.2; 
    }
    
.text1 p {
    margin: 0;
    line-height: 1.2;
    }
    
